/* Basic layout and paragraphs */
body {
  font-size: 1em;
  font-family: Verdana, sans-serif;
  color: #232018;
  background-color:#ffffff;
}
a {
  color: inherit;
  text-decoration: underline;
}
span.pi {
  font-weight: bold;
  font-style: italic;
}
h1 {
  font-family: "Palatino", serif;
  font-weight: lighter;
  font-size: 1.6em;
  font-stretch: wider;
  letter-spacing: 0.2em;
  padding: 0.25em 0em 0.5em 0em;
  color: #232018;
}
h2 {
  font-family: "Times New Roman", serif;
  font-size: 1.3em;
  font-stretch: wider;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #e9e7e7;
  padding: 0.4em 0em 0.2em 0em;
  font-weight: normal;
  color: #464031;
}
h3 {
  font-size: .9em;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Times New Roman", serif;
  color: #801008;
}
h4{
  text-transform: uppercase;
  font-weight: lighter;
  font-family: "Times New Roman", serif;
  color: #a1a09b;
}
h5 { }
h6 { }

/* Equations */
div.equation {
  padding: 1em;
  text-align:center;
}

/* TOC formatting */
div.toc {
}
div.toc ol {
  list-style-type: upper-roman;
  color: #801008;
  font-size: 0.9em;
}
div.toc ol ol {
  list-style-type: decimal;
  font-weight: normal;
  color: #232018;
  font-size: 0.9em;
}
div.toc ol ol ol {
  list-style-type: upper-alpha;
}
